.app {
  /* background-color: aqua; */
  width: 97vw;
  box-sizing: border-box;
  padding: 0 7%;
  margin: 0 auto;
  margin-top: 60px;
  font-family: "Quicksand", sans-serif;
  overflow: hidden;
}

.link {
  color: black;
  display: contents;
}
