.book-block {
  width: 100%;
  overflow: hidden;
  display: flex;
  justify-content: center;
  margin-bottom: 90px;
}

.block-header {
  margin: 60px 0 40px 0;
}

.block-header h2 {
  text-transform: uppercase;
  font-weight: 400;
  border-bottom: 1px solid;
  font-size: 20px;
  margin: 0;
}

.line {
  width: 100vw;
  border-bottom: 1px solid #a1a1a1;
}
