.PosterLayout {
  width: 50%;
  display: flex;
  justify-content: center;
  margin-left: 50px;
}

.PosterList {
  display: flex;
  /* justify-content: center; */
  align-items: center;
  width: 51%;
  flex-direction: column;
  overflow: scroll;
  overflow-x: hidden;
}

.icon {
}
